/* RESET */
li {
  list-style: none;
}

/* HIDDEN */
.hidden {
  display: none;
}

.main.hidden {
  display: none;
}

.canceled {
  text-decoration-line: line-through;
  color: #000;
}

/* BODY */
body {
  height: 100%;
  background-color: #292D32;
  color: #FFF;
  font-size: 20px;
}

/* BACKGROUND */
img {
  width: 100%;
  height: auto;
  opacity: .7;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

/* WEATHER */
#weather {
  box-sizing: border-box;
  height: 50px;
  margin: 15px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  text-align: right;
  font-size: 16px;
}

/* LOGIN */
.login-form {
  width: 900px;
  height: 100%;
  margin: 250px auto;
  text-align: center;
}

.login-form input {
  box-sizing: border-box;
  width: 50%;
  height: 50px;
  text-align: center;
  border: 0;
  outline: 0;
  border-radius: 200px;
  padding: 20px;
  background: rgba(0, 0, 0, .75);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, .87);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, .3);
  color: #fff;
  margin-right: 50px;
}

.login-form input:hover {
  background: rgb(0, 0, 0);
  border: 1px solid #FFF;
}

.login-form button {
  width: 100px;
  height: 35px;
  color: #FFF;
  border: 0;
  border-radius: 15px;
  font-size: 15px;
  text-align: center;
  background: rgba(0, 0, 0, .75);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, .87);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.login-form button:hover {
  background: rgb(0, 0, 0);
  border: 1px solid #FFF;
}

/* MAIN */
.main {
  width: 900px;
  height: 100%;
  padding: 10px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 150px 100px 100px 1fr 100px;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  background: rgba(0, 0, 0, .45);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, .57);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid #FFF;
  border-radius: 10px;
}

/* GREETING */
.greeting {
  font-size: 32.5px;
}

.clock {
  font-size: 30px;
}

#todo-form input {
  box-sizing: border-box;
  width: 700px;
  height: 25px;
  text-align: center;
  border: 0;
  outline: 0;
  border-radius: 200px;
  padding: 20px;
  background: rgba(0, 0, 0, .75);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, .87);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, .3);
  color: #fff;
}

#todo-form input:hover {
  background: rgb(0, 0, 0);
  border: 1px solid #fff;
}

#todo-list {
  width: 700px;
  padding: 0;
  margin: 10px auto;
}

#todo-list li {
  margin-bottom: 10px;
  display: flex;
}

#todo-list li input[type="checkbox"] {
  flex-grow: 1;
  height: 35px;
  justify-content: center;
  align-items: center;
}

#todo-list li button {
  flex-grow: 1;
  height: 35px;
  border: 0;
  border-radius: 5px;
  padding: 5px;
  font-size: 15px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgba(0, 0, 0, .75);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, .87);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

#todo-list li button:hover {
  border: 1px solid #FFF;
}

#todo-list li span {
  display: flex;
  align-items: center;
  flex-grow: 8;
  text-align: left;
  font-size: 20px;
  vertical-align: middle;
}

#quote {
  width: 700px;
  margin: 10px auto;
  color: rgba(255, 255, 255, .35);
  font-style: italic;
}

#quote span:last-child {
  display: inline-block;
  font-size: 15px;
}
